<button nz-button nzType="primary" (click)="showModal()">
  <span>Change visibility</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Change visibility of table columns"
  (nzOnOk)="handleColumnsChanges()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <ul cdkDropList class="columns-list" (cdkDropListDropped)="drop($event)">
      @for (column of tableColumnsManager.columnsToDisplayInSettingsFirst();
      track column.value) {
      <li class="columns-item required">
        {{ column.label }}
      </li>
      } @for (column of tableColumnsManager.columnsToDisplayInSettings(); track
      column.value) {
      <li class="columns-item" cdkDrag>
        <label
          nz-checkbox
          [nzChecked]="column.default"
          (nzCheckedChange)="
            tableColumnsManager.toggleColumnVisibility(column.value, $event)
          "
        >
          {{ column.label }}
        </label>
      </li>
      } @for (column of tableColumnsManager.columnsToDisplayInSettingsLast();
      track column.value) {
      <li class="columns-item required">
        {{ column.label }}
      </li>
      }
    </ul>
  </ng-container>
</nz-modal>
<nz-table #table [nzData]="listOfData">
  <thead>
    <tr>
      @for (column of tableColumnsManager.columnsToDisplay(); track
      column.value) {
      <!-- <th
        [nzCellControl]="column.value"
        [style.width]="column.width + 'px'"
        nzResizable
        mwlResizable
        [enableGhostResize]="true"
        (resizeEnd)="
          tableColumnsManager.changeColumnWidth(
            column.value,
            $event.rectangle.width
          )
        "
      > -->
      @if (!column.required) {
      <th
        nz-resizable
        nzBounds="window"
        nzPreview
        [nzWidth]="column.width + 'px'"
        [nzMaxWidth]="600"
        [nzMinWidth]="60"
        (nzResizeEnd)="
          tableColumnsManager.changeColumnWidth(column.value, $event.width)
        "
      >
        <!-- <div
      class="resize-handle-right"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
      ></div> -->
        {{ column.label }}
        <nz-resize-handle nzDirection="right">
          <div class="resize-trigger"></div>
        </nz-resize-handle>
      </th>
      }@else {
      <th [nzCellControl]="column.value">
        {{ column.label }}
      </th>
      } }
    </tr>
  </thead>
  <tbody>
    @for (data of table.data; track data.id) {
    <tr>
      <td nzCellControl="name">{{ data.name }}</td>
      <td nzCellControl="gender">{{ data.gender }}</td>
      <td nzCellControl="age">{{ data.age }}</td>
      <td nzCellControl="address">{{ data.address }}</td>
      <td nzCellControl="action">
        <a>Delete</a>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
